{% extends 'backoffice.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger text-center">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(form) }}

    <table class="table table-dark mt-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
        <tr>
            <th scope="row">{{ categorie.id }}</th>
            <td>{{ categorie.name }}</td>
            <td>
                <a href="{{ path('editCategories', {id: categorie.id}) }}" class="btn btn-success">Modifier</a>
                <a href="{{ path('deleteCategories', {id: categorie.id}) }}"  onclick="return confirm('Etes-vous sûr de vouloir supprimer cette catégorie ')" class="btn btn-danger">Supprimer</a>
            </td>
            {% endfor %}
        </tr>

        </tbody>
    </table>
{% endblock %}




{% block title %}
    {% if ajout==true  %}
    {{ parent() }}ajout de catégorie
    {% else %}
        {{ parent() }}Modification de catégorie
    {% endif %}
{% endblock %}

{% block titre %}
    {% if ajout==true  %}
    Ajout de catégorie
    {% else %}
    Modification de catégorie
    {% endif %}
{% endblock %}




